/****************/
/* Line numbers */
div[data-line-number]:not([data-line-number="0"]):before {
    content: attr(data-line-number);
    position: absolute;
    /* line number text color */
    color: #444;
    padding: 1px 3px 3px;
    font-size: x-small;
    display: block;
    width: 25px;
    text-align: right;
}

div[data-line-number]:not([data-line-number="0"]) div.hljs {
    margin-left: 40px;
}

/************************/
/* Diff line background */
.two.column.diff .diff.line:not(.keep) .line.wrapper.diffwidth:not(.empty) .left.line.content {
    /* removed line on the left */
    background-color: #FBDDDD;
}

.two.column.diff .diff.line.base:not(.keep) .line.wrapper:not(.empty) .left.line.content,
.two.column.diff .diff.line.whitespace:not(.keep) .line.wrapper:not(.empty) .left.line.content {
    /* line on the left with base- or whitespace-only changes */
    background-color: #FFF7F7;
}

.two.column.diff .diff.line:not(.keep) .line.wrapper.diffwidth:not(.empty) .right.line.content {
    /* added line on the right */
    background-color: #DDF7E2;
}

.two.column.diff .diff.line.base:not(.keep) .line.wrapper:not(.empty) .right.line.content,
.two.column.diff .diff.line.whitespace:not(.keep) .line.wrapper:not(.empty) .right.line.content {
    /* line on the right with base- or whitespace-only changes */
    background-color: #EFFCF1;
}

.two.column.diff .diff.line .left.line.content .delta {
    /* removed line */
    background-color: rgba(240, 92, 92, 0.30);
}

.two.column.diff .diff.line.base .left.line.content .delta,
.two.column.diff .diff.line.whitespace .left.line.content .delta {
    /* removed base- or whitespace-only changed line */
    background-color: rgba(240, 92, 92, 0.15);
}

.two.column.diff .diff.line .right.line.content .delta {
    /* added line */
    background-color: rgba(91, 220, 114, 0.30);
}

.two.column.diff .diff.line.base .right.line.content .delta,
.two.column.diff .diff.line.whitespace .right.line.content .delta {
    /* added line whitespace or base-only changes */
    background-color: rgba(91, 220, 114, 0.15);
}

/**********************/
/* Code coverage bars */
:root {
    /* light blue */
    --coverage-bar-color-full: #ABD1F2;
    /* lighter blue */
    --coverage-bar-color-partial: #CDE5FA;
    /* orange */
    --coverage-bar-color-none: #FFD6A9;
    --red-8: color-mix(in oklab, hsl(var(--diff-remove-color-hsl)), #fff 60%);
}
